* {
    border-radius: 0 !important;
  }

#newsinput {
    width: auto;
}

.mb-3 {
    width:fit-content;
    margin: auto;
    margin-top: 20px;
}

.list-group-item:hover {
background-color: #333;
color: white;
}

a:hover {
    text-decoration: none;
}

.card {
    margin: auto;
    width: 25rem;
}
